<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blockcanary">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="blockcanary.BlockCanaryStartupInitializer"
                android:value="@string/androidx_startup" />
        </provider>
    </application>

</manifest>