<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knightboost.flamegraph">

    <application>
        <activity
            android:name=".FlameGraphActivity"

            android:exported="true"
            android:theme="@style/FlameGraph.Base.NoActionBar" />
    </application>

</manifest>